// set custom colors
$primary-color: #581845;
$secondary-color: #d8d8d8;

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// override bootstrap theme colors
$theme-colors: (
  'primary': $primary-color,
  'light': set-text-color($primary-color),
  'dark': #000
);
