// fonts
@import url('https://fonts.googleapis.com/css?family=Arvo|Lilita+One&display=swap');

$lilita: 'Lilita One', sans-serif;
$arvo: 'arvo', sans-serif;

// set custom colors
$primary-color: #183658;

// function to set color to be white or black depending on $color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// override bootstrap theme colors
$theme-colors: (
  'primary': $primary-color,
  'light': set-text-color($primary-color),
  'dark': lighten($primary-color, 30%)
);

// set font family
$font-family-sans-serif: $arvo;
