@import '_config';
@import 'node_modules/bootstrap/scss/bootstrap';

h1 {
  font-family: $lilita;
}

body {
  background: url('../images/papyrus-dark.png');
}

#logo {
  width: 3rem;
  height: 3rem;
}

.nav-item .btn-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

.nav-item .btn-link:hover {
  text-decoration: none;
  color: lighten($primary-color, 25%);
}

#search-button {
  z-index: 1;
}

/* The Modal (background) */
#modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.recipe-details-card {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    z-index: 3;
  }

  img {
    width: 100%;
  }
}

.done {
  text-decoration: line-through;
}

// nutrition info
tbody tr:nth-child(odd),
#search-results.li:nth-child(odd) {
  background-color: lighten($primary-color, 80%);
  color: darken($primary-color, 75%);
}

// inrgredients / instructions
ul .list-group-item:nth-child(odd) {
  background-color: lighten($primary-color, 80%);
  color: darken($primary-color, 75%);
}

// table hovering
tbody tr:hover,
ul .list-group-item:hover {
  background-color: lighten($primary-color, 10%);
  color: set-text-color($primary-color);
}

#load-button {
  border-radius: 0;
}

//fit unsplash images
.unsplash {
  object-fit: scale-down;
  height: 210px;
  overflow: hidden;
}
